// Nova Card CSS

.customTable {
  transition: all 0.40s linear;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-unset {
  overflow: unset;
}

.apply-filter {
  background-color: var(--primary);
  color: var(--white);
}

.filter-bottom {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}

.filter-top {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}

a:hover {
  cursor: pointer;
}
