// Nova Card CSS

.customTable {
    transition: all 0.40s linear;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-unset {
    overflow: unset;
}

.apply-filter{
    background-color: var(--primary);
    color: var(--white);
}

a:hover {
    cursor: pointer;
}
